   *{
       
    margin: 0px;
        padding: 0px;
   }
   
    html{
-webkit-tap-highlight-color:transparent;
    }

    body{
           width:100%; 
           height:100%; 
           background: url('../images/Scale8.jpg') center fixed no-repeat;
       background-size: cover;
/*    background-attachment: fixed;
   background-position: center;*/
        
        display: block;
        -webkit-font-smoothing: antialiased;
	      -moz-osx-font-smoothing: grayscale;
       


    }



a{
color: #fff;
 text-decoration: none;
}
    #container{

       
    background-size: cover;
    background-attachment: fixed;
    display: block;
   background-position: center;
       }

    .kocka33 h4{
 font-size: 1.2em;
    }
.kocka33{
height: 100%;
    margin-top: 10px;
}
    .kocka1{

    background-color:  transparent;
        width: 10%;
        float: left;
        height: 40px;
        
    }
    
    .kocka2{

        float: left;
    
        width: 0%;
        height: 40px;
    }
    .kocka3{
        
        
        border-left: none;
        border-right: none;
        text-align:center;
        float: left;

        width: 80%;
        height: 40px;
        overflow:hidden;
        underline:none;
    
    }
    .kocka3 a {
   link-underline:none; 
    }

    .kocka5{
      
        float: left;
    background-color: transparent;
        width: 9%;
        height: 40px;
        text-align: center;
        
    }
.kocka5 img{
margin-top: 4px;}
.chart {
    
  width:98%;
  font: 10px sans-serif;
background-color: transparent;
  opacity: 0.8;
    padding: 0px;
  z-index: -100;
}
   
   #header{
    display: block;
    list-style: none;
 font-family: 'Roboto', sans-serif;
    height: 30px;
     width: 100%;
     
         }

     .source{
margin: 10px 0px;
margin-left: 10px;

     }
    #header li {
        float: center;
        color: black;
text-align: center;
        margin-top: 0px;
             font-family: 'Roboto', sans-serif;
        
    }
    header{
      background: #117DA7;
display: inline-block;
width: 100%;
float: center; 
height: 40px;
padding: 0px;
font-weight: 2px;

  }

        ul{
        display: inline-block;
        float: center;
        width: 100%;
        text-align: center;

            }


    ul li {
        float: center;
        margin-right: 60px;
        display: inline-block;
        color: #ffffff;
        font-family: GothamRounded;
        font-size: 18px;
        font-weight: 700;
                text-align: center;
  }
ul li a{

color: white;


}

  #header div h1{

    color: black;
    border: none;
  }


 .e{
  font-family: 'Roboto', sans-serif;
 /*background:rgba(140,250,188,.3);
*/
background: rgba(0,0,0, .8);
      background-size: cover;
        float: left;
        width: 34.6%;
        display: block;
        opacity: .8;
        height: 700px;
     border-left:1px solid white;
       
    }
    .h {

      color: white;
      
    }
    .d{
        float:right;
        width: 32.2%;
        display: block;
        border: 1px solid  black;
        height: 600px;
        position: fixed;
        top:40px;
        right:5px;
    }
    h3{
        
        color: white;
    }
 .chart{

      float: left;
        display: block;
        -webkit-user-select:none;
        opacity: .8;
        width: 100%;

    }

    .obrus{
        background: rgba(0,0,0, .8);
    float: left;
        display: block;
        width:65.3%; //67.2
        background-color: transparent;
        -webkit-user-select:none;
        
    position: relative;
        padding-top: 20px;
    }
    .tr{
       -webkit-user-select:none;
        width: 100%;
        background-color: transparent;
    }
   
    .h{
       color:white;
        text-align: center;
        min-height: 34px;

         }
         .h a{
          text-decoration: none;
         }
    .h h3{
padding:0px;
color: white !important;
margin: 0px;
    }
      .h h3 a{
        color: white;
      }
    .h1{
   margin-left: 5px;
        color: white;
        margin-bottom: 30px;
    }
 
.h{
  width: 100%;
}
 


    .rd{
        width:900px;
    }
   .de{
    width:190px;
    height:14px;
        color:white;
       color: #ffffff;
     margin-left: 5px;
        display:inline-block;
  overflow: hidden;
       font-size:1.2em; 
text-align: right;
font-family: 'Roboto', sans-serif;
padding-bottom: 2px;
}

    .ret{
    display:inline-block;
 background-color: #225378; 
 
        

         
        /*#224967 #1F3A5B #204B82*/
color: white;
        height:14px;
        font-size:1.25em;
        margin-left:7px;
        overflow:hidden;
        opacity:1;
       
border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;

        /*   button iTune   */

 border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  transition: all 0.1ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        
    }

    .ret:hover{



  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 0px 0 0 #62b1e9;
  -webkit-box-shadow: inset 0 0px 0 0 #62b1e9;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;



      }
 
.ret:active {
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  -moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 0px 0 0 ;
  -webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 0px 0 0 ;
  text-shadow: 0 -1px 1px #2361a4;
}


.data{
padding: 1px;
    margin-top: 0px;
    font-size: 1.3em;
    overflow: hidden;
opacity: 0.8;
}

.red{
 
  border-top:1px solid rgba(60%,80%,100%,.2);
  border-top-right-radius: 4px;
padding:5px,5px,5px,5px;
width: 76%;

color:rgba(60%,80%,100%,1);
display: inline-block;
overflow: hidden;
float: left;

height: 40px;
background: rgba( 255, 255, 255, 0.1);
margin-bottom: 1px;
line-height: 31px;
transition:background 0.2s linear 0s, color 0.2s linear 0s, padding 0.2s linear 0s;

}
.red:hover{

       
    cursor: pointer;
 color: white;
}

.red a{
  
  width: 100%;
color:white;
  text-decoration: none;
margin-left: 10px;
transition:background 0.2s linear 0s, color 0.2s linear 0s, padding 0.2s linear 0s;
font-size: 0.7em;

}
.red a:hover{
padding:4px, 7px;

  color:white;
}
.choice{
    margin: 0px;
    padding: 0px;
   display: inline-block;
width: 100%;
height: 38px;
border-top: 1px solid black;
border-bottom: 1px solid black; 
background-color: aqua;
    
}

.gam1{
    float:left;
    display: inline-block;
text-align: center;
cursor: pointer;
height: 39px;
background-color: transparent;
border:1px solid rgba(60%,80%,100%,.2);
width: 10%;
margin-top: 2px;
margin-right: 2px;

}
.gam1 img{
padding: 3px;
    
}

.gam2{
float:left;
display: inline-block;
width: 10%;
cursor: pointer;
text-align: center;
background-color: transparent;
height: 39px;
border:1px solid rgba(60%,80%,100%,.2);
margin-top: 2px;

}
.gam2 img{
padding: 3px;

}
.gam3{
    float:left;
    display: inline-block;
width: 10%;
height:38px;
border:1px solid rgba(60%,80%,100%,.2);
cursor: pointer;
background-color: transparent;
text-align: center;
margin:2px;
    border-radius: 2px;
background: rgba(0,0,0, .2);
}


.gam3 img{
padding: 3px;

}

.gam4{
  border-radius: 2px;
    float:left;
    display: inline-block;
width: 10%;
background-color: transparent;
height:38px;
cursor: pointer;
text-align: center;
border:1px solid rgba(60%,80%,100%,.2);
margin: 2px;
        background: rgba(0,0,0, .2);

}
.gam4 img{
padding: 3px;

}



.gam5{
  border-radius: 2px;
    float:left;
    text-align: center;
    display: inline-block;
width: 10%;
background-color: transparent;
height:38px;
cursor: pointer;
border:1px solid rgba(60%,80%,100%,.2);
margin: 2px;
background: rgba(0,0,0, .2);
}
.gam5 img{
padding: 3px;

}
.gam5:active {
    background-color:#00334D;

}

.gam6{
  border-radius: 2px;
     float:left;
    display: inline-block;
width: 10%;
background-color: transparent;
height:38px;
cursor: pointer;
text-align: center;
border:1px solid rgba(60%,80%,100%,.2);
margin: 2px;
background: rgba(0,0,0, .2);
}

.gam6 img{
padding: 3px;

}
.gam6:active {
    background-color:#00334D;

}

.gam7{
  border-radius: 2px;
     float:left;
    display: inline-block;
width: 10%;
background-color: transparent;
height:38px;
cursor: pointer;
text-align: center;
border:1px solid rgba(60%,80%,100%,.2);
margin: 2px;
background: rgba(0,0,0, .2);
}
.gam7 img{
padding: 3px;

}
.gam7:active {
    background-color:#00334D;

}
.hover1{
-webkit-transition: all 0.01; /* Safari */
    transition: all 0.01s;
    transition: all 0.3ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
           cursor:pointer;
       margin-bottom: 0px;
       width: 100%;

    
      
       transition:background 0.2s linear 0s, color 0.2s linear 0s, padding 0.2s linear 0s;
}
.hover1:hover{
background-color:azure;
background:rgba(0,0,0,.3);


}
#footer{
background-color: rgba(0,0,0, .8);
    height: 40px;
width: 65.3%;
color: white;
}

.left {
  color: white;
float: center;
text-align: center;
}
.right{
float: center;
text-align: center;
color: white;
}



.klas{

    
    display: inline-block;
}
.clear{

    clear: both;
}
.apsolute{

    display: block;
    position: absolute;
}
.divload{

position: relative;
top:350px;
left: 590px;
color: white;
}
.load{


}
.pagination{

    width: 100%;
    margin: 0px;
    padding: 0px;
}

.pagination ul{
margin-top: 40px;
    
    
}
    .pagination li {
           
    margin: 0px;
    display: inline-block;
    width:30px;
   position: relative;
   bottom: 0px;
   right: 0px;
border:1px solid rgba(60%,80%,100%,.2);
 
   border-radius: 4px;
    }
    .pagination li:hover{
  background: rgba(44, 49, 68, .4);
        background: rgba(0, 51, 77, .3);


    }
       .pagination li a{
width: 100%;
height: 100%;
color: white;
padding: 10px;
font-size: 0.9em;

       }

    .razmak
    {
       height: 38px;
        width: 12%;
        float: left;
        display: inline-block;
    }

.hover2{
  
background: #2a81d7;

  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 0px 0 0 #62b1e9;
  -webkit-box-shadow: inset 0 0px 0 0 #62b1e9;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
}
.active1{

    background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  -moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 0px 0 0 #fff;
  -webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 0px 0 0 #fff;
  text-shadow: 0 -1px 1px #2361a4;
}

.buttonw{
    height: 70px;
 
    width:50%;
    margin: 40px auto;
}

.obavestenje{

color: #B7B4C7;
text-align: center;
}

.obavestenje p{

    margin-top: 10px;
}

.center{
    text-align: center;
    margin-top: 20px;
}
.center1{

  text-align: center;
      width: 100%;
   
}
.time{
    width:12%;
    height: 40px;
    display: inline-block;
  float: left;
  margin-top: 0px;
line-height: 39px;
  font-size: 0.7em;
  color:white;
    cursor: pointer;
       text-align: center;
  margin-right: 1px;
 background: rgba( 255, 255, 255, 0.1 );
  border-top:1px solid rgba(60%,80%,100%,.2);
  border-top-left-radius: 4px;
  transition:background 0.2s linear 0s, color 0.2s linear 0s, padding 0.2s linear 0s;
 
}

.tution{

    cursor: pointer;
  height: 40px;
    width:10%;
    display: inline-block;
    float: left;
   font-size: 0.7em;
color:white;
line-height: 39px;
text-align: center;
background: rgba( 255, 255, 255, 0.1 );
margin-right: 1px;
border-top:1px solid rgba(60%,80%,100%,.2);
transition:background 0.2s linear 0s, color 0.2s linear 0s, padding 0.2s linear 0s;
}

.display{

display: block;
float: none;
width: 90%;
padding-left: 50px;
  
}
.hidden{

    display: none;
}

.white{

  color: white;
}

.popup{
    
  position: absolute;
  top:145px;
  left:580px;
display: none;
  background-color: rgba( 0, 95, 143, 0.387 );
 background-color: rgba(14, 158, 230, 0.32);
  width:260px;
  height: 90px;
  color: white;
  padding: 13px;
  font-size: 0.8em;
  border-radius: 4px;
}

.dugme{
width: 100%;
}

.next{
  margin-right: 5px;
  margin-top: 9px;
  width: 15%;
  float: left;
  background-color:rgba(5, 27, 38, 0.480);
  background-color:rgba(5, 27, 38, 0.680);
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  padding: 4px;
  font-size: 0.8em;
}

.krug{

  width: 6px;
  height: 6px;
  border-radius: 5px;
  border:1px solid rgba(5, 20, 28, 0.4);
background-color: transparent;
float: right;
margin-left: 3px;
margin-top: 19px;

}

.krug1{

  width: 6px;
  height: 6px;
  border-radius: 5px;
  border:1px solid rgba(5, 20, 28, 0.4);
background-color: #00334D;
background-color:rgba(5, 20, 28, 0.4);
float: right;
margin-left: 3px;
margin-top: 19px;

}

.klik{
  text-shadow: 0 -1px 1px #2361a4;
     background-color: rgb(0, 51, 77);
}

.pr{
 background:rgba(0,0,0,.8);

        float: left;
        width: 100%;
        display: block;
        opacity: 1;
        height: 700px;
        border:1px solid  #00334D;
}
.clearLeft{
  clear: left;
}

@media screen and (max-width: 700px){
    .e{
    display: none;
    }
}

.loadingContent{

  background: #000;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 900px;
}

.ocupation-header{

  color: white;
  
    
}
.naslovnaikona{
    float:center;
    display: inline-block;
width:5%;
height:38px;
border:1px solid rgba(60%,80%,100%,.2);
cursor: pointer;

text-align: center;
margin:2px;
border-radius: 2px;
}

.naslovnaikona img{
padding: 3px;

}
.ocupation-median{
  margin-top:80px;
  color: white;
  text-align: center;
}

.wage{
  margin-top: 20px;
  color: white;



  text-align: center;
  font-size: 5.6em;
}
.obrus1{
  
    float: left;
        display: block;
        width:65.3%; //67.2
        border: none;
        -webkit-user-select:none;
     
        height: 700px;
     
    
        

    }
    .inner-footer{
      margin-top: 100px;
height: 200px;
width: 100%;
        color: white;




    }

    .f1{
        text-align: center;
      width: 18%;
      padding: 4px;
      background: rgba(0,0,0,.2);
      display: inline-block;
       height: 80%;
        border-radius: 128px;
       border-top:1px solid rgba(43, 109, 175, 0.56);
        
margin: 20px;
    }
.f2{
    text-align: center;
display: inline-block;
height: 80%;
width: 18%;
padding: 4px;
  background: rgba(0,0,0,.2);  
border-radius: 128px;
border-top:1px solid rgba(43, 109, 175, 0.56);
margin: 20px;
    }
    .f3{
        text-align: center;
         display: inline-block;
height: 80%;
        background: rgba(0,0,0,.2);
        width: 18%;
      padding: 4px;
        border-radius: 128px;
    border:1px solid rgba(43, 109, 175, 0.56);
        margin: 20px;
    }

    .f4{
        background: rgba(0,0,0,.2);
        text-align: center;
        border-radius: 128px;
         display: inline-block;
height: 80%;;
        width: 18%;
      padding: 4px;
border:1px solid rgba(43, 109, 175, 0.56);      
margin: 20px;
    }
    .f5{
        background: rgba(0,0,0,.2);
background: linear-gradient(0deg, rgba( 42, 81, 99, 0.433 ) 0%, rgba( 0, 95, 143, 0.034 ) 100%);        text-align: center;
        border-radius: 128px;
         display: inline-block;
height: 80%;
        width: 18%;
      padding: 4px;
   border:1px solid rgba(43, 109, 175, 0.56);
margin: 20px;

    }
    .active{
background: rgba( 0, 95, 143, 0.387 );  
    

    }

.rgba{
background: rgba(0,0,0,.8);
height: 100%;
    position: relative;
}

.imgchart1{
position: absolute;
    top: 400px;
    left: 400px;
    
}
.imgchart2{
position: absolute;
    top: 405px;
    left: 415px;
    
}
.imgchart3{
position: absolute;
    top: 409px;
    left: 419px;
    
}

.btn{
    cursor: pointer;
    padding: 10px;
    border: 1px solid rgba( 0, 95, 143, 0.387 );  
    border-radius: 5px;
      background: rgba(0, 76, 109, 0.6); 
      background: #1F375F;
    color: #fff;
    width: 200px;
}
.btn1{
    cursor: pointer;
    padding: 3px;
    border: 1px solid rgba( 0, 95, 143, 0.387 );  
    border-radius: 5px;
      background: #1F375F;
    color: #fff;
    width: 100px;
    margin: 10px;
   float: right;
    
}
.btn1 a{
padding: 25px;
}
.btn1 a:hover{
  color: white;
text-decoration: none;
}

.btn a:hover{
  text-decoration: none;
    color: white;
background: #225694;
}
.btn:hover{
    color: white;
background: #225694;
}
.btn1:hover{
    
background: #225694;
}
.facebook{
    
    font-size: 0.8em;
}
.facebook a{
    
   font-size: 0.9em;
}

.activity-stream{
    
    
    position: absolute;
    top:400px;
    right: 10px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    opacity: 0.8;
}
 .gam3:hover{
    
    background: rgba( 0, 95, 143, 0.387 );
}
 .gam4:hover{
    
    background: rgba( 0, 95, 143, 0.387 );
}
.gam5:hover{
    
   background: rgba( 0, 95, 143, 0.387 );
} 
.gam6:hover{
    
   background: rgba( 0, 95, 143, 0.387 );
}
 .gam7:hover{
    
    background: rgba( 0, 95, 143, 0.387 );
}
.btn a{
    
   padding: 20px;
   padding-left: 42px;
    padding-right: 42px;
   overflow: hidden;
   
}
.activity-stream img{
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
}
.activity-stream div span{

font-size: 1.2em;
   color: antiquewhite;
    border-left: 1px solid rgba( 0, 95, 143, 0.387 );
}
.activity-stream div{
margin: 2px;
   border-top: 1px solid rgba( 0, 95, 143, 0.387 );
       border-radius: 4px;
 
    background: rgba( 42, 4, 29, 0.1 );

        cursor: pointer;
}

.broj{
    
position: absolute;
top: 200px;
right: 100px;
width: 200px;
height: 200px;
color: #ffffff;
font-size: 90px;
    
}

.izvor{
position: absolute;
top: 565px;
left: 315px;


color: #ffffff;
font-size: 15px;
background-repeat: no-repeat;  
}
.broj p{

  font-size: 20px;
    
}
.broj h5{
font-size: 0.3em;

}

.add{
    width: 800px;
    margin: 30px auto;
    background: rgba( 0, 0, 0, 0.8 );
    padding: 100px;
    border-radius: 5px;
    
    
}
.form-group {
color: white;
}
h2{
color: white;
}
.form-control{

  background: transparent;
  color: #ded00b;
}